
// ripple button
[effect=ripple] {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
[effect=ripple]:before {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform-origin: center;
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  width: calc(var(--d) * 1px);
  height: calc(var(--d) * 1px);
  background: var(--ripple-background, white);
  transform: translate(-50%, -50%) scale(var(--s, 1));
  opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));
  transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);
}

.btn-fix-1 {
  position: absolute;
  right: 52px;
  bottom: 48px;
  button + button,
  .button + .button {
    margin-left: 4px;
  }
}

// button
button[type='button'].button,
a.button,
input[type='submit'] {
  // reset
  cursor: pointer;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  font-family: inherit;
  background: transparent;
  appearance: none;
  display: inline-block;
  line-height: 1.1;
  box-sizing: border-box;
  text-align: center;
  font-family: inherit;
  padding: 0 24px;
  height: 45px;
  line-height: 1.2;
  color: #fff;
  font-size: rem(16);
  letter-spacing: -0.48px;
  text-align: center;
  transition: all ease-in-out 300ms;
  outline: none;
  border-radius: 6px;


  // size
  &.medium-1 {
    padding:0 36px;
  }

  &.size-xs {
    height: 25px;
    padding: 0 7px;
    font-size:rem(14);
    border-radius: 5px;
  }

  // color
  &.color-1 {
    background-color:$color-point-1;
  }
  &.color-2 {
    color:#999;
    background-color:#2a2a2a;
  }
  &.color-3 {
    color:#666;
    background-color:#292929;
  }

  // display
  &.block {
    display: block;
    width: 100%;
  }

  // radius
  &.radius-1 {
    border-radius: 24px;
  }

}

// count-btn-1
.count-btn-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 87px;
  height: 35px;
  padding: 0 5px;
  background-color: #292929;
  border-radius: 5px;
  > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: #999;
    font-size: rem(22);
    font-weight: 500;
    line-height: 1.2;
    border-radius: 50%;
    &:hover {
      background-color: #393939;
    }
    &.plus {
      > span {
        display: block;
        padding-top: 2px;
      }
    }
  }
  input {
    width: 14px;
    height: 16px;
    line-height: 16px;
    color:#ccc;
    font-size:rem(20);
    letter-spacing: -0.6px;
    background-color:transparent;
    border: none;
  }
}