// box
.box-type-1 {
  padding: 28px 26px 28px 26px;
  border-radius: 10px;
  box-shadow: 0px 3px 15px 0 rgba(17, 17, 17, 0.5);
  background-color: #1f1f1f;
}

.box-type-2 {
  padding: 31px 12px 0 14px;
  border-radius: 25px;
  box-shadow: 0px 3px 30px 0 rgba(0, 0, 0, 0.25);
  background-color: #202020;
}

// main
#main {
  width:980px;
  .coment {
    margin-bottom: 70px;
    .text-1 {
      color:#eee;
      font-size:rem(30.5);
      letter-spacing: -0.92px;
      strong {
        font-weight:700;
      }
    }
    .text-2 {
      margin-top: 20px;
      color:#666;
      font-size:rem(15);
      letter-spacing: -0.45px;
      strong {
        color:#aaa;
      }
    }
  }
  // dashboard-list
  .dashboard-list {
    display: flex;
    justify-content: space-between;
    > div {
      width:230px;
      height: 280px;
    }
    .line {
      height:127px;
    }
    .name {
      margin-top: 16px;
      color:#999;
      font-size:rem(14);
      line-height: 1.14;
      letter-spacing: -0.28px;
      span {
        color:#666;
      }
    }
    .val-updown {
      display: flex;
      align-items: center;
      margin-top: 10px;
      .val {
        color:#eee;
        font-size:rem(29.5);
        letter-spacing: -0.59px;
        strong {
          font-weight: 500;
        }
      }
      .updown {
        display: inline-flex;
        align-items: center;
        height: 22px;
        margin-left: 12px;
        padding: 0 9px 0 9px;
        font-size:rem(14.5);
        font-weight:700;
        letter-spacing: -0.29px;
        border-radius: 10px;
        &.up {
          color:#e25151;
          background-color:#392424;
          > span {
            margin-left: 4px;
            border-bottom: 6px solid #e25151;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
          }
        }
        &.down {
          color:#7d8ce4;
          background-color:#2c3150;
          > span {
            margin-left: 4px;
            border-top: 6px solid #7d8ce4;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
          }
        }
      }
    }
  }
  
  // recommend-forum
  .recommend-forum {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    .recommend {
      width: 605px;
      .banner-list {
        border-radius: 10px;
        overflow: hidden;
        a {
          display: block;
          img {
            width:605px;
            height:280px;
            object-fit: cover;
          }
        }
      }
    }
    .forum {
      width: 355px;
      .forum-list {
        height: 280px;
        li {
          margin-top: 12px;
          font-size:0;
          line-height: 0;
          &:first-child {
            margin-top: 0;
          }
          a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color:#777;
            font-size:rem(14);
            line-height:1.2;
            transition: all .2s ease-in-out;
            &:hover {
              color: #aaa;
            }
          }
        }
      }
    }
  }
}