// list-type-1
.list-type-1 {
  li {
    a {
      position: relative;
      display: block;
      padding: 20px 25px;
      color:#777;
      font-size: rem(14);
      font-weight: 300;
      letter-spacing: -0.42px;
      line-height:1.2;
      transition: all .2s ease-in-out;
      .tit {
        color:#aaa;
        font-size: rem(16);
        font-weight: 400;
        letter-spacing: -0.48px;
      }
      .txt {
        margin-top: 8px;
      }
      .date {
        position: absolute;
        top: 20px;
        right:25px;
      }
      &:hover {
        box-shadow: 0px 20px 16px 0 rgba(0, 0, 0, 0.15);
        background-color: #2a2a2a;
        border-radius: 10px;
      }
    }
  }
}