// tb-data
.tb-data-1 {
  table {
    width:100%;
    border-top:1px solid #000;
    border-bottom:1px solid #e5e5e5;
    text-align:left;
    th,
    td {
      padding:15px 5px 12px 20px;
      font-size:rem(10);
      line-height:1.2;
    }
    th {
      color:#000;
      font-weight:500;
      border-bottom:1px solid #7a7a7a;
    }
    td {
      color:#161616;
      background-color:#f5f5f5;
      border-top:1px solid #e5e5e5;
      .point-1 {
        color:#ff6700;
        font-weight:700;
      }
    }
    tr {
      &:first-child {
        td {
          border-top:none;
        }
      }
    }
  }
}