// title
.title-type-1 {
  margin-bottom: 30px;
  color:#ccc;
  font-size: rem(26);
  font-weight:600;
  line-height:1.2;
  letter-spacing: -0.78px;
}

.title-type-2 {
  margin-bottom: 16px;
  color:#aaa;
  font-size:rem(18);
  font-weight:500;
  line-height:1.2;
  letter-spacing: -0.54px;
}

.title-type-3 {
  margin-bottom: 50px;
  color:#ccc;
  font-size:rem(20);
  line-height:1.2;
  letter-spacing: -0.6px;
}

.title-type-4 {
  margin-bottom: 15px;
  color:#aaa;
  font-size:rem(15);
  line-height:1.2;
  letter-spacing: -0.45px;
}